<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lendingBookMapper">
	<resultMap type="LendingBook" id="lendingBookResultMap">
		<id property="lendingNo" column="LENDING_NO"/>
		<result property="lendingDate" column="LENDING_DATE"/>
		<result property="returnDate" column="RETURN_DATE"/>
		<result property="extendCount" column="EXTEND_COUNT"/>
		<result property="receive" column="RECEIVE"/>
		<result property="userId" column="USER_ID"/>
		<result property="bookNo" column="BOOK_NO"/>
		<result property="returnState" column="RETURN_STATE"/>
	</resultMap>
	<select id="selectOne" resultMap="lendingBookResultMap">
		SELECT * FROM BOOK_LENDING WHERE BOOK_NO = #{ bookNo }
	</select>
	<select id="selectOneForDetail" resultMap="lendingBookResultMap">
		SELECT * FROM (SELECT * FROM BOOK_LENDING WHERE BOOK_NO = #{ bookNo } ORDER BY RETURN_DATE DESC) WHERE ROWNUM = 1
	</select>
	<select id="selectManyList" resultMap="lendingBookResultMap">
		SELECT USER_ID FROM(SELECT USER_ID, COUNT(USER_ID), ROW_NUMBER() OVER(ORDER BY COUNT(USER_ID) DESC)RN FROM BOOK_LENDING GROUP BY USER_ID)<![CDATA[WHERE RN <= 10]]>
	</select>
	<insert id="insertLending" parameterType="LendingBook">
		INSERT INTO BOOK_LENDING VALUES(SEQ_LENDING_NO.NEXTVAL, SYSDATE, SYSDATE + 14, DEFAULT, #{ receive }, #{ userId }, #{ bookNo }, DEFAULT)
	</insert>
	<insert id="insertParcel">
		INSERT INTO PARCEL VALUES(SEQ_DELIVERY_NO.NEXTVAL, SEQ_LENDING_NO.CURRVAL, #{ addr }, DEFAULT)
	</insert>
	
	<delete id="deleteLending" parameterType="map">
		DELETE FROM BOOK_LENDING WHERE LENDING_NO = #{ lendingNo } AND USER_ID = #{ userId }
	</delete>
</mapper>