<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeWriter" column="NOTICE_WRITER" />
		<result property="nCreateDate" column="N_CREATE_DATE" />
		<result property="noticeContents" column="NOTICE_CONTENTS" />
		<result property="viewCount" column="VIEW_COUNT" />
	</resultMap>
<!-- 	공지리스트 -->
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		ORDER BY N_CREATE_DATE DESC
	</select>
<!-- 	리스트 수 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM
		NOTICE
	</select>
<!-- 	공지 작성 -->
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES(SEQ_NOTICE.NEXTVAL, #{noticeTitle }, #{noticeWriter }, DEFAULT,
		#{noticeContents }, 0)
	</insert>
<!-- 	상세조회 -->
	<select id="selectOnenotice" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</select>
<!-- 	조회 수 -->
	<update id="updateCount">
		UPDATE NOTICE SET VIEW_COUNT = VIEW_COUNT + 1 WHERE
		NOTICE_NO = #{noticeNo}
	</update>
<!-- 	공지 삭제 -->
	<delete id="deleteOneNotice" parameterType="_int">
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</delete>
<!-- 	공지 수정 -->
	<update id="updateOneNotice">
		UPDATE NOTICE SET NOTICE_TITLE = #{noticeTitle},
		NOTICE_CONTENTS = #{noticeContents}
	</update>

</mapper>