<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postMapper">
	<resultMap type="Post" id="postResultMap">
		<id property="postNo" column="POST_NO"/>
		<result property="postWriter" column="POST_WRITER"/>
		<result property="postTitle" column="POST_TITLE"/>
		<result property="postContents" column="POST_CONTENTS"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="pViewCount" column="P_VIEW_COUNT"/>
		<result property="replyCnt" column="REPLY_COUNT"/>
		<collection property="postReport" resultMap="postReportResultMap" />
	</resultMap>
	<resultMap type="Reply" id="replyResultMap">
  		<id property="replyNo" column="REPLY_NO"/>
  		<result property="postNo" column="POST_NO"/>
  		<result property="replyWriter" column="REPLY_WRITER"/>
  		<result property="replyContents" column="REPLY_CONTENTS"/>
  		<result property="replyDate" column="REPLY_DATE"/>
  		<collection property="replyReport" resultMap="replyReportResultMap" />
  	</resultMap>
  	<resultMap type="PostReport" id="postReportResultMap">
  		<id property="reportNo" column="P_REPORT_NO"/>
  		<result property="reportNo" column="POST_NO"/>
  		<result property="postState" column="P_STATUS"/>
  	</resultMap>
  	<resultMap type="ReplyReport" id="replyReportResultMap">
  		<id property="reportNo" column="R_REPORT_NO"/>
  		<result property="replyNo" column="REPLY_NO"/>
  		<result property="rStatus" column="R_STATUS"/>
  		<result property="postNo" column="POST_NO"/>
  	</resultMap>
  	
  	<select id="selectPostReport" resultMap="postReportResultMap">
  		SELECT * FROM POST_REPORT WHERE POST_NO = #{postNo}
  	</select>
  	<select id="selectReplyReport" resultMap="replyReportResultMap">
  		SELECT * FROM REPLY_REPORT WHERE REPLY_NO = #{replyNo}
  	</select>
  	<insert id="insertPostReport" parameterType="PostReport">
  		INSERT INTO POST_REPORT VALUES(SEQ_POST_REPORT.NEXTVAL, DEFAULT,#{postNo})
  	</insert>
  	<insert id="insertReplyReport" parameterType="ReplyReport">
  		INSERT INTO REPLY_REPORT VALUES(SEQ_REPLY_REPORT.NEXTVAL, #{replyNo}, default, #{postNo})
  	</insert>
  	
  	
  	<select id="selectAllReportPost" resultMap="postResultMap">
  		SELECT PR.P_REPORT_NO, P.POST_NO, P.POST_WRITER, P.POST_TITLE, P.POST_DATE, PR.P_STATUS FROM POST P JOIN POST_REPORT PR ON P.POST_NO = PR.POST_NO
  	</select>
  	<select id="selectPostReportCount" resultType="_int">
  		SELECT COUNT(*) FROM POST P JOIN POST_REPORT PR ON P.POST_NO = PR.POST_NO
  	</select>
  	<select id="selectReplyReportCount" resultType="_int">
  		SELECT COUNT(*) FROM REPLY R JOIN REPLY_REPORT RR ON R.REPLY_NO = RR.REPLY_NO
  	</select>
  	<select id="selectAllReportReply" resultMap="replyResultMap">
  		SELECT RR.R_REPORT_NO, R.REPLY_NO, R.POST_NO, R.REPLY_CONTENTS, R.REPLY_WRITER, R.REPLY_DATE, RR.R_STATUS FROM REPLY R JOIN REPLY_REPORT RR ON R.REPLY_NO = RR.REPLY_NO
  	</select>
  	
  	
  	
  	<select id="selectCount" resultType="_int">
  		SELECT COUNT(*) FROM POST
  	</select>
  	
  	<select id="selectListAll" resultMap="postResultMap">
  		SELECT P.*, (SELECT COUNT(*)FROM REPLY R WHERE R.POST_NO = P.POST_NO)AS REPLY_COUNT FROM POST P ORDER BY POST_NO DESC
  	</select>
  	
  	<select id="selectOnePost" resultMap="postResultMap">
  		SELECT P.*,(SELECT COUNT(*) FROM REPLY R WHERE R.POST_NO = P.POST_NO)AS REPLY_COUNT FROM POST P WHERE POST_NO = #{postNo}
  	</select>
  	
  	<insert id="insertPost" parameterType="Post">
  		INSERT INTO POST VALUES(SEQ_POST.NEXTVAL,#{postWriter}, #{postTitle},#{postContents}, default, default)
  	</insert>
  	
  	<update id="updateReadCount" parameterType="_int">
  		UPDATE POST SET P_VIEW_COUNT = P_VIEW_COUNT+1 WHERE POST_NO = #{postNo}
  	</update>
  	
  	<update id="updatePost" parameterType="Post">
  		UPDATE POST SET POST_TITLE = #{postTitle}, POST_CONTENTS = #{postContents} WHERE POST_NO = #{postNo}
  	</update>
  	
  	<delete id="deletePost" parameterType="_int">
  		DELETE POST WHERE POST_NO = #{postNo}
  	</delete>
  	
  	
  	
  	<select id="selectAllReply" resultMap="replyResultMap">
  		SELECT * FROM REPLY WHERE POST_NO = #{postNo} ORDER BY REPLY_NO DESC
  	</select>
  	
  	
  	<insert id="insertReply" parameterType="Reply">
  		INSERT INTO REPLY VALUES(SEQ_REPLY.NEXTVAL,#{postNo},#{replyWriter},#{replyContents},default)
  	</insert>
  	
  	<delete id="deleteReply" parameterType="_int">
  		DELETE REPLY WHERE REPLY_NO = #{replyNo}
  	</delete>
  	
  	
  	<update id="updateReply" parameterType="Reply">
  		UPDATE REPLY SET REPLY_CONTENTS = #{replyContents} WHERE REPLY_NO = #{replyNo}
  	</update>
</mapper>